<!doctype html>
<html>
    <head>
        <title>{{page_title}}</title>

        
    </head>
<body>
    <a href="{{ url_for('index') }}"> Home </a>
    <a href="{{ url_for('blog') }}"> Blogs </a>
    <a href="{{ url_for('login') }}" > Login </a> 
    <a href="{{ url_for('logout') }}" > Log out </a>
    <a href="{{ url_for('newpost') }}"> New Posts </a>
   

   
    {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    
    
        <h1>{{page_title}}</h1>
    {% block content %}
    {% endblock %}

</body>
</html>